@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #0d1b2a;
  position: relative;
}

.marquee {
  display: flex;
  width: 200%;
  animation: marquee 13s linear infinite;
}

.marquee-content {
  display: flex;
  flex-shrink: 0;

}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* footer hover */
.text-hover-underline {
  position: relative;
  display: inline-block;
}
.text-hover-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.4s ease;
}
.text-hover-underline:hover::before {
  width: 100%;
}